@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-zinc-900 text-zinc-900 dark:text-zinc-100 antialiased overflow-hidden selection:bg-zinc-300 dark:selection:bg-zinc-700 selection:text-black dark:selection:text-white;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
